@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-header {
  background: linear-gradient(180deg, #1f2937 0%, rgba(31, 41, 55, 0) 100%);
}

.review-shadow {
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
}

.cart-shadow {
  box-shadow: 0 1px 4px 0;
}
